@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);
--Attri: hsl(228, 45%, 44%);
}

html {
    font-size: 16px;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--Cream);
    font-family: 'Montserrat', sans-serif;
}


p {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--Grey);
}


main {
    width: 23.4375rem;
    padding: calc(0.8rem + 2%);
    margin: 0 auto;
}

.product-container {
    width: 90%;
    background-color: var(--White);
    margin: calc(0.8rem + 5vh) auto;
    border-radius: 0.5em;
}

img {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}


.product-details {
    padding: calc(0.8rem + 2%);
}

.label {
    text-transform: uppercase;
    letter-spacing: 0.3em;
}


.title {
    color: var(--Green-700);
    font-size: 2rem;
}

.title, .price p:first-of-type {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}


.price {
    display: flex;
    gap: 0.8em;
    align-items: center;
    margin-top: 0;
}


.price p:first-of-type {
    color: var(--Green-500);
    font-size: 1.5rem;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--Green-500);
    width: calc(100% - 2rem);
    height: calc( 1.5rem + 1vh);
    margin: 0 auto;
    padding: calc(0.3rem + 1%);
    border-radius: 0.3rem;
    cursor: pointer;
}

.button img {
    width: 1rem;
    height: 1rem;
}

.button p {
    color: var(--White);
}

.attribution  p { font-size: 0.6875rem; text-align: center; }
.attribution a { color: var(--Attri); }


@media screen and (min-width: 23.4375rem) {
    
    main {
        width: calc(100vw - 40%);
        margin: 0 auto;
    }

    .product-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        width: calc(100% - 15rem);
        margin: calc(6rem + 5vh) auto;
        border-radius: 0.5em;
        padding: 0;
    }

    img {
        height: 100%;
        border-radius: 0.5em 0 0 0.5em;
        width: calc(100%-50rem);
    }


}